input {
    padding: 20px;
    width: 100%;
    margin: 40px auto;
    outline: none;
    border: none;
    border-bottom: 2px solid;
    box-sizing: border-box;
    font-size: large;
}

input::placeholder {
    color: grey;
}

button {
    width: 100%;
    padding: 15px 50px;
    font-weight: 600;
    border: none;
    background: #595cc3;
    color: white;
    font-size: large;
}

button:hover {
    background: #7073ce;
}

.grid-item {
    background-color: #abadee;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.grid-item:hover {
    background-color: #cfd0ec;
}

.grid-item:active {
    background-color: #7678ad;
}

button:disabled {
    background-color: #cfd0ec;
}

h1>span, h3>span {
    font-weight: 100;
}

.transaction-input{
    margin: 0 auto 30px;
    padding-top: 0;
}